<div id="search" class="input-group j-min">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ journal2.settings.get('search_placeholder_text') }}" autocomplete="off" class="form-control input-lg"/>
  <div class="button-search">
    <button type="button"><i></i></button>
  </div>
</div>
