.col4 {
    flex-basis: 25%;
    max-width: 25%;
    min-width: 25%;
    width: 25%;
}
.col12 {
    flex-basis: 75%;
    max-width: 75%;
    min-width: 75%;
    width: 75%;
}
.s-menu {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}